Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

wip: 🚧 Improve instructions for step 2 and step 3
  docs/soda-features/upload-dataset/step-2.md
  docs/soda-features/upload-dataset/step-3.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Add example images for folder structures
  docs/soda-features/upload-dataset/step-3.md
  static/img/upload-dataset-step-3-after-folders.png
  static/img/upload-dataset-step-3-after.png
  static/img/upload-dataset-step-3-before-folders.png
  static/img/upload-dataset-step-3-before.png
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Improve side by side UI text instructions
  docs/soda-features/upload-dataset/step-2.md
  docs/soda-features/upload-dataset/step-3.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Add Kalai images
  docs/soda-features/upload-dataset/step-2.md
  docs/soda-features/upload-dataset/step-3.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Add choosing the right workflow page
  docs/getting-started/choosing-the-right-workflow.md
  docs/soda-features/upload-dataset/step-2.md
  docs/soda-features/upload-dataset/step-3.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 useEffect imported but never used
  src/components/HomepageFeatures.jsx
Owners: @aaronm-2112

wip: 🚧 update marketing
  src/components/HomepageFeatures.jsx
Owners: @aaronm-2112

feat: ✨ changelog and managing multiple contributors
  docs/miscellaneous/developer-documentation/changelog.md
  docs/soda-features/upload-dataset/how-to-upload-to-a-dataset-with-multiple-contributors.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ update marketing text
  src/components/HomepageFeatures.jsx
Owners: @aaronm-2112

chore(release): 🚀 27.53.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  77/9e7537ec07176d6bec8a2dc1586bc784954db3
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ restarting upload after deleting db files
  docs/miscellaneous/common-errors/trouble-starting-the-pennsieve-agent-in-soda.md
  docs/miscellaneous/how-to/how-to-remove-pennsieve-agent-db-files.md
  docs/miscellaneous/how-to/how-to-reset-upload-after-removing-pennsieve-agent-files.md
  static/img/pre-flight-checks-failure.png
  static/img/upload-progress.png
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ fix image generation urls
  docs/miscellaneous/how-to/how-to-reset-upload-after-removing-pennsieve-agent-files.md
  docs/miscellaneous/known-issues/_category_.json
  docs/miscellaneous/known-issues/multiple-consortiums.md
  docs/miscellaneous/known-issues/performance_file.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ change status verbiage for known issues
  docs/miscellaneous/known-issues/multiple-consortiums.md
  docs/miscellaneous/known-issues/performance_file.md
Owners: @bvhpatel, @aaronm-2112

feat: upcoming 19.0.0 issues (#720)
  docs/miscellaneous/common-errors/trouble-starting-the-pennsieve-agent-in-soda.md
  docs/miscellaneous/how-to/how-to-remove-pennsieve-agent-db-files.md
  docs/miscellaneous/how-to/how-to-reset-upload-after-removing-pennsieve-agent-files.md
  docs/miscellaneous/known-issues/_category_.json
  docs/miscellaneous/known-issues/multiple-consortiums.md
  docs/miscellaneous/known-issues/performance_file.md
  static/img/pre-flight-checks-failure.png
  static/img/upload-progress.png
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.54.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  99/e6fb03178801560af2a038389a51ba4d7c8f09
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

wip: 🚧 Update dev docs with pysodafair and release instructions
  docs/miscellaneous/developer-documentation/Creating-Test-and-Prod-Releases.md
  docs/miscellaneous/developer-documentation/building-the-application.md
  docs/miscellaneous/developer-documentation/soda-and-pysodafair.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ add link between db and upload reset pages
  docs/miscellaneous/how-to/how-to-remove-pennsieve-agent-db-files.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 Add fallback instructions for pennsieve sign up
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/miscellaneous/how-to/how-to-get-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Better documented the release process
  docs/miscellaneous/developer-documentation/Creating-Test-and-Prod-Releases.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.55.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  52/3ac8ea2573512b456b9dfa4aa8172962304e1a
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.56.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  97/a6424037fb3145ecb1b919dcf7fffa49b098ee
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112
