Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ add known issues and agent how tos
  versioned_docs/version-19.0.2/miscellaneous/common-errors/trouble-starting-the-pennsieve-agent-in-soda.md
  versioned_docs/version-19.0.2/miscellaneous/how-to/how-to-remove-pennsieve-agent-db-files.md
  versioned_docs/version-19.0.2/miscellaneous/how-to/how-to-reset-upload-after-removing-pennsieve-agent-files.md
  versioned_docs/version-19.0.2/miscellaneous/known-issues/_category_.json
  versioned_docs/version-19.0.2/miscellaneous/known-issues/multiple-consortiums.md
  versioned_docs/version-19.0.2/miscellaneous/known-issues/performance_file.md
Owners: @aaronm-2112

chore(release): 🚀 27.57.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  19/4a61eee2c4222fc395220c7b568a5c3a1ca184
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ add link to guest uploads
  docs/getting-started/choosing-the-right-workflow.md
  versioned_docs/version-19.0.2/getting-started/choosing-the-right-workflow.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.58.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  ca/e7af8146c1ba65707203d1edc8d807c6d4b37b
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112
