Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore(release): 🚀 26.0.4 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  66/add9028f11e315d16bea4b9957b09adc0875f3
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 26.0.5 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  59/f08bd804557b33a616ef8cdb524bf4330236c4
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore(release): 🚀 26.0.6 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  24/bda835d01aeaa5da78326f04bc73e962f1034d
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

wip: 🚧 Added 'Pennsieve Account Connection' section
  docs/Freeform Mode/_category_.json
  docs/common-errors/_category_.json
  docs/connecting-to-pennsieve/_category_.json
  docs/connecting-to-pennsieve/connecting-your-pennsieve-account.md
  docs/connecting-to-pennsieve/switching-pennsieve-workspace.md
  docs/guided.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 26.0.7 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  6d/4517f145e8c1a03da8ebd9f26de538177ca7bd
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ Added switching workspace sections
  docs/common-errors/manually-deleting-pennsieve-config.md
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
  docs/connecting-to-pennsieve/connecting-your-pennsieve-account.md
  docs/connecting-to-pennsieve/switching-pennsieve-workspace.md
  docs/connecting-to-pennsieve/switching-workspace/_category_.json
  docs/connecting-to-pennsieve/switching-workspace/switching-pennsieve-workspace-with-api-key.md
  docs/connecting-to-pennsieve/switching-workspace/switching-pennsieve-workspace-with-username-password.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ rough draft of 12.3.0 docs done
  docs/common-errors/deleting-pennsieve-config-files.md
  docs/common-errors/manually-deleting-pennsieve-config.md
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
  docs/connecting-to-pennsieve/switching-workspace/switching-pennsieve-workspace-with-api-key.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ moved Pennsieve workspace switching to how to section
  docs/connecting-to-pennsieve/switching-workspace/_category_.json
  docs/connecting-to-pennsieve/switching-workspace/switching-pennsieve-workspace-with-api-key.md
  docs/connecting-to-pennsieve/switching-workspace/switching-pennsieve-workspace-with-username-password.md
  docs/how-to/how-to-use-workspaces.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ fixed link from staging to main
  docs/connecting-to-pennsieve/connecting-with-api-key.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Added switch to workspaces tab
  docs/how-to/how-to-use-workspaces.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 Added trailing slash before pennsieve folder
  docs/common-errors/deleting-pennsieve-config-files.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 fixed recommended changes on sign in docs
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ removed manage dataset log in instructions
  docs/Freeform Mode/manage-dataset/add-dataset-to-collection.md
  docs/Freeform Mode/manage-dataset/add-edit-description.md
  docs/Freeform Mode/manage-dataset/add-edit-permissions.md
  docs/Freeform Mode/manage-dataset/add-edit-subtitle.md
  docs/Freeform Mode/manage-dataset/add-edit-tags.md
  docs/Freeform Mode/manage-dataset/assign-a-license.md
  docs/Freeform Mode/manage-dataset/connect-your-pennsieve-account-with-soda.md
  docs/Freeform Mode/manage-dataset/create-a-new-dataset.md
  docs/Freeform Mode/manage-dataset/make-pi-owner-of-dataset.md
  docs/Freeform Mode/manage-dataset/rename-an-existing-dataset.md
  docs/Freeform Mode/manage-dataset/upload-a-banner-image.md
  docs/Freeform Mode/manage-dataset/upload-a-local-dataset-to-pennsieve.md
  docs/Freeform Mode/manage-dataset/view-and-change-status.md
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ Added warning for duplicate accounts when using API keys
  docs/connecting-to-pennsieve/connecting-with-api-key.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 Emphasized unique key requirements
  docs/connecting-to-pennsieve/connecting-with-api-key.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ updated og images for links
  docs/Freeform Mode/disseminate-dataset/submit-for-pre-publishing-review.md
  docs/Freeform Mode/manage-dataset/add-dataset-to-collection.md
  docs/Freeform Mode/manage-dataset/add-edit-description.md
  docs/Freeform Mode/manage-dataset/add-edit-permissions.md
  docs/common-errors/deleting-pennsieve-config-files.md
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
  docs/how-to/how-to-use-workspaces.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 Updated broken links
  docs/Freeform Mode/manage-dataset/add-edit-permissions.md
  docs/Freeform Mode/manage-dataset/add-edit-subtitle.md
  docs/Freeform Mode/manage-dataset/add-edit-tags.md
  docs/Freeform Mode/manage-dataset/assign-a-license.md
  docs/Freeform Mode/manage-dataset/create-a-new-dataset.md
  docs/Freeform Mode/manage-dataset/make-pi-owner-of-dataset.md
  docs/Freeform Mode/manage-dataset/rename-an-existing-dataset.md
  docs/Freeform Mode/manage-dataset/upload-a-banner-image.md
  docs/Freeform Mode/manage-dataset/upload-a-local-dataset-to-pennsieve.md
  docs/Freeform Mode/manage-dataset/view-and-change-status.md
  docs/Freeform Mode/prepare-metadata/create-dataset-description.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 remove unused video comment
  docs/Freeform Mode/prepare-metadata/create-samples.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ Recreate 12.3.0 versioned docs
  docs/Freeform Mode/manage-dataset/connect-your-pennsieve-account-with-soda.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ Recreate 12.3.0 versioned docs
  versioned_docs/version-12.3.0/Freeform Mode/disseminate-dataset/submit-for-pre-publishing-review.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/add-dataset-to-collection.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/add-edit-description.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/add-edit-permissions.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/add-edit-subtitle.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/add-edit-tags.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/assign-a-license.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/connect-your-pennsieve-account-with-soda.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/create-a-new-dataset.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/make-pi-owner-of-dataset.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/rename-an-existing-dataset.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/upload-a-banner-image.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/upload-a-local-dataset-to-pennsieve.md
  versioned_docs/version-12.3.0/Freeform Mode/manage-dataset/view-and-change-status.md
  versioned_docs/version-12.3.0/Freeform Mode/prepare-metadata/create-dataset-description.md
  versioned_docs/version-12.3.0/Freeform Mode/prepare-metadata/create-samples.md
  versioned_docs/version-12.3.0/common-errors/deleting-pennsieve-config-files.md
  versioned_docs/version-12.3.0/connecting-to-pennsieve/connecting-with-api-key.md
  versioned_docs/version-12.3.0/connecting-to-pennsieve/connecting-with-username-password.md
  versioned_docs/version-12.3.0/how-to/how-to-use-workspaces.md
Owners: @aaronm-2112
