Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 24.0.4 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  a1/6741758066b3a975e23191eec88a8de71a477c
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

docs: update mac download instructions
  docs/getting-started/download-soda.mdx
  versioned_docs/version-11.1.0/getting-started/download-soda.mdx
Owners: @bvhpatel, @aaronm-2112

docs: update the changelog for 11.1.0
  docs/developer-documentation/changelog.md
  versioned_docs/version-11.1.0/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

docs: update mac download instructions (#349)
  docs/developer-documentation/changelog.md
  docs/getting-started/download-soda.mdx
  versioned_docs/version-11.1.0/developer-documentation/changelog.md
  versioned_docs/version-11.1.0/getting-started/download-soda.mdx
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 24.0.5 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  5a/c28aeda226dbbcbd6c08e188a8601bad00fbd4
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: 🔨 update changelog
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 update the share with curation team video
  docs/Freeform Mode/disseminate-dataset/submit-for-pre-publishing-review.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 fix version number
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 24.0.6 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  e1/f0366ee697a93160e05b5c3c3f5ed699f76340
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

wip: 🚧 swapped old page title and image
  docs/common-errors/pennsieve-agent-is-already-running.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ Updated Pennsieve agent start issues text
  docs/common-errors/pennsieve-agent-is-already-running.md
  docs/common-errors/trouble-starting-the-pennsieve-agent-in-soda.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ Updated troubleshooting text
  docs/common-errors/trouble-starting-the-pennsieve-agent-in-soda.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ finalized agent troubleshooting text
  docs/common-errors/trouble-starting-the-pennsieve-agent-in-soda.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 24.0.7 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  59/8617a094aff5756315f06b0ed6cd7d42d06b96
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 24.0.8 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  1c/913c85f1fb210b13870288f95444107b50233b
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112
