Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

feat: ✨ update contact us page
  docs/miscellaneous/common-errors/sending-log-files-to-soda-team.md
  docs/miscellaneous/how-to/how-to-navigate-to-contact-us.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.47.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  45/43a0448270e98e5ce035658917e0697016fcfb
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.48.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  a7/999df5c68d92b8fa048d6aefa0b6afd2d0d91b
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.49.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  60/20ee18c73a35fac96d6166d28e8bfcfd0e0a92
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.50.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  4f/35ec59ed80625cb5812291e17845ef0b7e2a17
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.51.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  3a/9610bc0c58d64f700b1bf9c36be5ab0cd353b1
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

wip: finish updating 18.0.0 docs
  docs/soda-features/upload-dataset/step-1.md
  docs/soda-features/upload-dataset/step-4.md
  docs/soda-features/upload-dataset/step-6.md
  docs/soda-features/upload-dataset/step-7.md
  versioned_sidebars/version-14.1.0-sidebars.json:Zone.Identifier
  versioned_sidebars/version-15.4.0-sidebars.json:Zone.Identifier
  versioned_sidebars/version-16.3.1-sidebars.json:Zone.Identifier
  versioned_sidebars/version-16.5.0-sidebars.json:Zone.Identifier
  versioned_sidebars/version-17.0.0-sidebars.json:Zone.Identifier
  versioned_sidebars/version-17.1.0-sidebars.json:Zone.Identifier
Owners: @bvhpatel, @aaronm-2112

fix: Remove Zone.Identifier files
  static/img/image.png:Zone.Identifier
  static/img/prepare-dataset-step-by-step-home-screen.png:Zone.Identifier
  static/img/upload-dataset-confirm-account-details.png:Zone.Identifier
  static/img/upload-dataset-dataset-structure-and-manifest-preview.png:Zone.Identifier
  static/img/upload-dataset-folder-select.png:Zone.Identifier
  static/img/upload-dataset-home-screen.png:Zone.Identifier
  static/img/upload-dataset-pennsieve-dataset-select.png:Zone.Identifier
  static/img/upload-dataset-pennsieve-logged-out.png:Zone.Identifier
  static/img/upload-dataset-review-and-generate.png:Zone.Identifier
  static/img/upload-dataset-upload-complete.png:Zone.Identifier
  static/img/upload-dataset-upload-in-progress.png:Zone.Identifier
  static/img/upload-dataset-verification-complete.png:Zone.Identifier
  versioned_sidebars/version-14.1.0-sidebars.json:Zone.Identifier
  versioned_sidebars/version-15.4.0-sidebars.json:Zone.Identifier
  versioned_sidebars/version-16.3.1-sidebars.json:Zone.Identifier
  versioned_sidebars/version-16.5.0-sidebars.json:Zone.Identifier
  versioned_sidebars/version-17.0.0-sidebars.json:Zone.Identifier
  versioned_sidebars/version-17.1.0-sidebars.json:Zone.Identifier
Owners: @aaronm-2112

fix: Use old yarn.lock file
  yarn.lock
Owners: @megasanjay

wip: Update docs for 18.0.0 release
  docs/soda-features/upload-dataset/organize-dataset.md
  docs/soda-features/upload-dataset/step-1.md
  docs/soda-features/upload-dataset/step-2.md
  docs/soda-features/upload-dataset/step-3.md
  docs/soda-features/upload-dataset/step-4.md
  docs/soda-features/upload-dataset/step-5.md
  docs/soda-features/upload-dataset/step-6.md
  docs/soda-features/upload-dataset/step-7.md
  static/img/prepare-dataset-step-by-step-home-screen.png
  static/img/upload-dataset-confirm-account-details.png
  static/img/upload-dataset-dataset-structure-and-manifest-preview.png
  static/img/upload-dataset-folder-select.png
  static/img/upload-dataset-home-screen.png
  static/img/upload-dataset-pennsieve-dataset-select.png
  static/img/upload-dataset-pennsieve-logged-out.png
  static/img/upload-dataset-review-and-generate.png
  static/img/upload-dataset-upload-complete.png
  static/img/upload-dataset-upload-in-progress.png
  static/img/upload-dataset-verification-complete.png
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.52.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  5b/b6f1f5ae99250f55ec1033845345c30da1005a
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay
