Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

feat: add download numbers (#685)
  src/components/HomepageFeatures.jsx
  static/data/aggregated_data.json
Owners: @aaronm-2112

chore(release): 🚀 27.5.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  58/1aa5eae702632eb65d7b3a731021b070ccc018
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: 🔨 generalize text to not be SPARC specific when possible (#687)
  docs/advanced-mode/compare-local-and-pennsieve-dataset.md
  docs/advanced-mode/upload-a-banner-image.md
  docs/advanced-mode/validate-your-dataset.md
  docs/download-templates.md
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/guided.md
  docs/intro.md
  docs/upload-dataset/organize-dataset.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ download page updated and general text updates
  README.md
  docs/common-errors/api-version-mismatch.md
  docs/common-errors/pennsieve-agent-uploads.md
  docs/common-errors/sending-log-files-to-soda-team.md
  docs/connecting-to-pennsieve/accounts_page.md
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
  docs/developer-documentation/building-the-application.md
  docs/developer-documentation/changelog.md
  docs/developer-documentation/project-setup.md
  docs/getting-started/download-soda.mdx
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/guided.md
  docs/intro.md
  docs/upload-dataset/organize-dataset.md
  src/components/downloadSODA.jsx
  src/theme/Footer/index.jsx
Owners: @aaronm-2112, @bvhpatel

fix: 🐛 download path
  docs/getting-started/download-soda.mdx
Owners: @bvhpatel, @aaronm-2112

feat: ✨ download page updated and general text updates (#689)
  README.md
  docs/common-errors/api-version-mismatch.md
  docs/common-errors/pennsieve-agent-uploads.md
  docs/common-errors/sending-log-files-to-soda-team.md
  docs/connecting-to-pennsieve/accounts_page.md
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
  docs/developer-documentation/building-the-application.md
  docs/developer-documentation/changelog.md
  docs/developer-documentation/project-setup.md
  docs/getting-started/download-soda.mdx
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/guided.md
  docs/intro.md
  docs/upload-dataset/organize-dataset.md
  src/components/downloadSODA.jsx
  src/theme/Footer/index.jsx
Owners: @aaronm-2112, @bvhpatel

chore(release): 🚀 27.6.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  49/f4d49c487dc296d7d71078daa01bbc0d321fad
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: 🔨 update pennsieve pages
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 update pennsieve pages (#690)
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 update docs with workspace instructions and remove page
  docs/how-to/how-to-structure-the-manifest-metadata-file.md
  docs/how-to/how-to-use-workspaces.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 broken link
  docs/upload-dataset/step-4.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 broken link
  docs/advanced-mode/create-manifest-files.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 broken link
  docs/upload-dataset/step-4.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 update docs with workspace instructions and remove page (#691)
  docs/advanced-mode/create-manifest-files.md
  docs/how-to/how-to-structure-the-manifest-metadata-file.md
  docs/how-to/how-to-use-workspaces.md
  docs/upload-dataset/step-4.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ updated guided mode docs
  docs/guided.md
  static/img/HomePage.png
  static/img/guided-options-page.png
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 update upload dataset and guided docs for sds3
  docs/guided.md
  docs/upload-dataset/organize-dataset.md
  docs/upload-dataset/step-3.md
  docs/upload-dataset/step-4.md
  docs/upload-dataset/step-6.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 update docs for sds3
  docs/advanced-mode/_category_.json
  docs/advanced-mode/compare-local-and-pennsieve-dataset.md
  docs/advanced-mode/create-manifest-files.md
  docs/advanced-mode/upload-a-banner-image.md
  docs/advanced-mode/validate-your-dataset.md
  docs/how-to/how-to-test-soda-without-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

typo: Update docs/upload-dataset/step-6.md
  docs/upload-dataset/step-6.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 update changelog for sds3
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

typo: Update docs/guided.md
  docs/guided.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ Explain SDS2 release purpose
  docs/guided.md
  src/pages/index.jsx
Owners: @bvhpatel, @aaronm-2112

feat: ✨ Update CHANGELOG for 15.4.0 release
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 fix broken img link
  docs/upload-dataset/step-2.md
  src/components/HomepageFeatures.jsx
  versioned_docs/version-15.4.0/upload-dataset/step-2.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.7.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  59/2368e80cbfa80babe5075fbb803343b78ddccc
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

wip: 🚧 Update CHANGELOG for 16.1.0 release
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay
