Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.2.8 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  17/9f54a9904e9618134ec984a5b3d71b14e40558
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore(release): 🚀 27.2.9 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  4d/375605554aaf8fff691e3f26f404d2850a5085
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

test
  README.md
Owners: @aaronm-2112

wip: 🚧 Updated Images
  docs/guided.md
  docs/how-to/how-to-get-a-pennsieve-account.md
  static/img/HomePage.png
  static/img/Pensieve.png
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Updated Images
  static/img/HomePage.png
  static/img/Pensieve.png
Owners: @aaronm-2112

wip: 🚧 New Images
  docs/upload-dataset/step-1.md
  static/img/UploadData.png
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Updated Images
  docs/upload-dataset/step-3.md
  static/img/UploadData2.png
  static/img/UploadData3.png
Owners: @bvhpatel, @aaronm-2112

New Images Updated
  docs/guided.md
  static/img/HomePage.png
  static/img/Pensieve.png
  static/img/UploadData.png
  static/img/UploadData2.png
  static/img/UploadData3.png
  static/img/UploadData5.png
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Updated Images
  docs/how-to/how-to-get-a-pennsieve-account.md
  docs/upload-dataset/step-1.md
  docs/upload-dataset/step-2.md
  docs/upload-dataset/step-3.md
  docs/upload-dataset/step-5.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.2.10 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  5e/1e80fa5461ef67bcdad935895b84b36a4d26c0
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: 🔨 update changelog
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ accounts page docs for 15.2.0
  docs/connecting-to-pennsieve/accounts_page.md
  static/img/manage_accounts.png
Owners: @bvhpatel, @aaronm-2112

feat: ✨ docs versioned for 15.2.0
  versions.json
Owners: @aaronm-2112

chore(release): 🚀 27.2.11 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  c3/22bdc2dcd823443195082ede4024b207a8bb04
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

fix: 🐛 versioned docs not pathing to imgs
  versioned_docs/version-15.2.0/connecting-to-pennsieve/accounts_page.md
  versioned_docs/version-15.2.0/guided.md
  versioned_docs/version-15.2.0/how-to/how-to-get-a-pennsieve-account.md
  versioned_docs/version-15.2.0/upload-dataset/step-1.md
  versioned_docs/version-15.2.0/upload-dataset/step-2.md
  versioned_docs/version-15.2.0/upload-dataset/step-3.md
  versioned_docs/version-15.2.0/upload-dataset/step-5.md
Owners: @aaronm-2112

wip: 🚧 Create test build
  docs/guided.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Fixed broken img links
  docs/connecting-to-pennsieve/accounts_page.md
  docs/guided.md
  docs/how-to/how-to-get-a-pennsieve-account.md
  docs/upload-dataset/step-1.md
  docs/upload-dataset/step-3.md
  docs/upload-dataset/step-5.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 fix broken image link
  versioned_docs/version-15.2.1/upload-dataset/step-2.md
Owners: @aaronm-2112

chore: 🔨 update changelog
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112
