Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

Notes added by 'git notes add'
  ccb01f5614ed9d5f20b58268267c8961ec1fa2b2
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

docs: Log files and banner images (#131)
  docs/manage-dataset/upload-a-banner-image.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 10.2.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  55da2dae1d7dd9028a0e6c01c4605677a0eee2b3
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ add 'SODA' to the versioning label (#138)
  src/theme/NavbarItem/DocsVersionDropdownNavbarItem.js
Owners: @aaronm-2112

chore(release): 10.3.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  f0dfd8f088bcfd0e08ffebe256d8ced33b6a7673
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

docs: 📄 update changelog
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

chore(release): 11.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  d671709b6279049daa3e5ab89ea7c581dda5f5a6
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore: 🔧 update codemetat and citation files
  CITATION.cff
  codemeta.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  codemeta.json
Owners: @aaronm-2112

chore: add Jacob to metadata (#148)
  CITATION.cff
  codemeta.json
Owners: @aaronm-2112

feat: ✨ add support for text comments with Notion
  .gitignore
  .husky/post-merge
  api/index.js
  package.json
  src/components/PageFeedback.jsx
  src/components/SeoImage.jsx
  yarn.lock
Owners: @aaronm-2112, @megasanjay

chore(release): 11.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  574b4df4dab43276115086e4256634abab57eb37
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112
