Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

docs: update changelog for 12.0.2
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 remove date from changelog entries
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 update the log gathering instructions
  docs/common-errors/sending-log-files-to-soda-team.md
  versioned_docs/version-12.0.2/common-errors/sending-log-files-to-soda-team.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ updated privacy policy to replace google analytics with kombucha
  docs/legal/privacypolicy.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ update changelog for 12.0.1, 12.0.2, 12.1.0
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 25.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  1e/ea5e0292abb77af4acc1bf619d399871003f44
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

fix: 🐛 filter out beta releases for download links
  src/components/DownloadURL.jsx
Owners: @aaronm-2112

chore(release): 🚀 25.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  45/c7e188995843e5d7a796f4650381ba03fe6326
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ api version mismatch page
  docs/common-errors/api-version-mismatch.md
  versioned_docs/version-12.1.0/common-errors/api-version-mismatch.md
  versioned_docs/version-12.1.0/common-errors/sending-log-files-to-soda-team.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ api version mismatch page (#386)
  docs/common-errors/api-version-mismatch.md
  versioned_docs/version-12.1.0/common-errors/api-version-mismatch.md
  versioned_docs/version-12.1.0/common-errors/sending-log-files-to-soda-team.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 25.1.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  5e/cc42664a99222cf2c0b23b656758c5d1b4bde0
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore(release): 🚀 25.1.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  09/31aa043fb2c0cf1848e8725f740cc0b176f7d0
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 25.1.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  8b/7de134129cfb61711c5f8c5f017cf04270ecd9
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112
