Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: add ps reinstall instructions
  docs/how-to/how-to-reinstall-the-pennsieve-agent.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 20.0.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  8c/eba0a282d130f3684206a9ce12827c78ff6aa7
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

fix: update relative link in ps page
  docs/how-to/how-to-reinstall-the-pennsieve-agent.md
Owners: @bvhpatel, @aaronm-2112

feat: update the changelog
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

feat: add new bug fixes to the changelog
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

feat: update changelog for 10.0.2
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

feat: add reinstall pennsieve agent doc page
  docs/how-to/how-to-reinstall-the-pennsieve-agent.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 21.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  32/8ba1852f1fb5946a45e1d7353640d8608707e3
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

fix: 🐛 updated package.json
  .husky/prepare-commit-msg
  package.json
  yarn.lock
Owners: @aaronm-2112, @megasanjay

feat: ✨ removed airtable content
  docs/how-to/how-to-get-access-to-sparc-airtable.md
  docs/prepare-metadata/connect-your-airtable-account-with-soda.md
  docs/prepare-metadata/create-dataset-description.md
  docs/prepare-metadata/create-submission.md
Owners: @bvhpatel, @aaronm-2112

feat!: 💥 ✨ docs version for SODA 10.0.2
  versioned_docs/version-10.0.2/how-to/how-to-get-access-to-sparc-airtable.md
  versioned_docs/version-10.0.2/prepare-metadata/connect-your-airtable-account-with-soda.md
  versioned_docs/version-10.0.2/prepare-metadata/create-dataset-description.md
  versioned_docs/version-10.0.2/prepare-metadata/create-submission.md
Owners: @aaronm-2112

chore(release): 21.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  c6/3af114281e7cf9c7b4def49878d802a1962bf3
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: 🔨 lock node version
  .husky/prepare-commit-msg
  .npmrc
  package.json
  yarn.lock
Owners: @aaronm-2112, @megasanjay

dx: 🧑‍💻️ add chmod script to linux and macOS
  package.json
  yarn.lock
Owners: @megasanjay

chore: 🔨 testing hooks on macOS
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  .husky/prepare-commit-msg
Owners: @aaronm-2112

docs: changelog updated for 10.0.3
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 updated package.json
  package.json
  yarn.lock
Owners: @megasanjay

feat: removed airtable content
  docs/how-to/how-to-get-access-to-sparc-airtable.md
  docs/prepare-metadata/connect-your-airtable-account-with-soda.md
  docs/prepare-metadata/create-dataset-description.md
  docs/prepare-metadata/create-submission.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ update changelog
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 add how to pages for validation server installation and running
  docs/how-to/how-to-install-the-validation-server.md
  docs/how-to/how-to-use-the-validation-server.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 update relative URLs for validation pages
  docs/how-to/how-to-install-the-validation-server.md
  docs/how-to/how-to-use-the-validation-server.md
Owners: @bvhpatel, @aaronm-2112

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay
