Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

docs: update the changelog for hotfix release
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

Notes added by 'git notes add'
  582d2962f5b9434ee70e2433a0cc2a14c68dc154
Owners: @aaronm-2112

chore(release): 16.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 16.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  a20ec7de0161d6d3a7f42794820e3400b7a36156
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

docs: 📄 updated versioning for changelog
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

docs: 📄 remove Feature additions header from changelog
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

docs: 📄 remove Feature additions header from changelog
  versioned_docs/version-9.3.2/changelog.md
Owners: @aaronm-2112

chore(release): 17.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  8f49f538a5664b47e3ffbbd513c03c430382563c
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 17.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  effa66c276aef34b21a974d3740f4cb129e00572
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ non-SPARC data documentation
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/intro.md
  docusaurus.config.js
  src/components/HomepageFeatures.jsx
  src/components/lotties/column1lottie.json
  src/components/lotties/column2lottie.json
  src/components/lotties/column3lottie.json
Owners: @bvhpatel, @aaronm-2112

feat: ✨ non-SPARC data documentation (#188)
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/intro.md
  docusaurus.config.js
  src/components/HomepageFeatures.jsx
  src/components/lotties/column1lottie.json
  src/components/lotties/column2lottie.json
  src/components/lotties/column3lottie.json
Owners: @bvhpatel, @aaronm-2112

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay
