Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

wip: 🚧 Update CHANGELOG
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Update manifest file generation UI to single manifest file
  docs/upload-dataset/step-4.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 update images for sds3
  docs/upload-dataset/step-3.md
  static/img/UploadData.png
  static/img/UploadData2.png
  static/img/UploadData3.png
  static/img/UploadData5.png
  static/img/manage_accounts.png
  static/img/merge-existing-UD.png
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ update out of date text and images + onboarding page flow
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/intro.md
  docs/upload-dataset/organize-dataset.md
  docs/upload-dataset/step-6.md
  src/pages/index.jsx
  static/img/HomePage.png
  static/img/verify-files.png
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ update generalist repository paragraph text
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ update generalist repository paragraph text
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ add additional guided mode link
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ clarify help text in guided page
  docs/guided.md
Owners: @bvhpatel, @aaronm-2112

Update docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

chore: 16.1.0 docs update to improve onboarding (#699)
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/guided.md
  docs/intro.md
  docs/upload-dataset/organize-dataset.md
  docs/upload-dataset/step-6.md
  src/pages/index.jsx
  static/img/HomePage.png
  static/img/verify-files.png
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.8.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  6f/7be7dde800714a048c4c8cc9a9648ce5b6e01f
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore(release): 🚀 27.9.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  3f/32680b5ce78e7ce03fa272d7b299516f12e13a
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: 🔨 update changelog for 16.2.0
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 update changelog
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 update changelog
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 resolve path errors
  docs/miscellaneous/common-errors/api-version-mismatch.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 pathing issues
  docs/miscellaneous/how-to/how-to-reinstall-the-pennsieve-agent.md
  docs/miscellaneous/how-to/how-to-use-workspaces.md
  docs/soda-features/connecting-to-pennsieve/connecting-with-api-key.md
  docs/soda-features/connecting-to-pennsieve/connecting-with-username-password.md
  src/pages/versions.jsx
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.10.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  d0/42b71048fb81b4be1da865ea73900b71ed8412
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

fix: 🐛 config pathing
  README.md
  docusaurus.config.js
  src/pages/index.jsx
  src/pages/versions.jsx
  src/theme/Footer/index.jsx
Owners: @aaronm-2112

chore(release): 🚀 27.11.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  99/819ed226e2ac43c9c0a0f3b12ee62cd6802df0
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112
