Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 19.0.11 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  fa/91d3125275e68199791485ebd63e85abf4cc86
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 19.0.12 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  69/4575665d7a275060b1f99ee141d0ad5ea88624
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

feat: update docs to point to the new agent
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

feat: update docs to point to the new agent (#254)
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

docs: update the changelog for 10.0.0 release
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

docs: update the changelog for 10.0.0 release (#255)
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

docs: updated step 5 for manifests in ffm
  docs/prepare-dataset/step-5.md
Owners: @bvhpatel, @aaronm-2112

docs: updated step 5 for manifests in ffm (#257)
  docs/prepare-dataset/step-5.md
Owners: @bvhpatel, @aaronm-2112

chore: :hammer: update node version
  .github/workflows/semantic-release.yml
Owners: @megasanjay

chore(release): 20.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  a9/27680dbfbd7834fe0a6d117c11ba1d97c4882b
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: 🔨 remove greetings workflow file
  .github/workflows/greetings.yml
Owners: @megasanjay

chore: 🔨 update packages
  .husky/prepare-commit-msg
  package.json
  yarn.lock
Owners: @aaronm-2112, @megasanjay

docs: 📝 updated changelog
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 20.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  1d/8f390ea155c6d50607107aeeea15d4779ebea7
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 20.0.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  28/930d01e94e5d6dc74f319dbb26ebce20d565fc
Owners: @aaronm-2112

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay
