Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore(release): 🚀 27.0.5 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  88/61b8ff6e8a37f058f78af03624fbc29b082e76
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore(release): 🚀 27.0.6 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  7f/01cb8bd676d3207c48ffe59baedad5bc2e616a
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

docs: 📝 update docs changelog
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.0.7 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  c1/f20318236b3fd7c162fb5e45e4c5de4a5c0782
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.0.8 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  15/5e765fe61ab2f1c110a6dcbee2a9f2f9d7c155
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.0.9 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  b3/a2daea951158e282748dd9db040735c8d46ed8
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.0.10 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  08/d523971b80f96dd7c9a841b1317b88fbe33016
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.0.11 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  a5/e64e26e64c965977d4d37e35218a012d62a00d
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112
