Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

docs: 📝 make step 6 validation in prepare datasets flow
  docs/prepare-dataset/organize-dataset.md
  docs/prepare-dataset/step-6.md
  docs/prepare-dataset/step-7.md
  docs/prepare-dataset/step-8.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 add validation docs to prepare dataset
  docs/prepare-dataset/step-6.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 updated image links
  docs/prepare-dataset/step-6.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 standalone validator docs
  docs/prepare-dataset/standalone-validator.md
Owners: @bvhpatel, @aaronm-2112

fix: typo
  README.md
Owners: @aaronm-2112

fix: 🐛 text update
  docs/getting-started/download-soda.mdx
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 text update
  docs/getting-started/download-soda.mdx
  versioned_docs/version-10.0.4/getting-started/download-soda.mdx
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 rename the validation docs page
  docs/prepare-dataset/validate-your-dataset.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 set sidebar position for validation
  docs/prepare-dataset/organize-dataset.md
  docs/prepare-dataset/step-6.md
  docs/prepare-dataset/step-7.md
Owners: @bvhpatel, @aaronm-2112

feat!: ✨ release gen commit
  docs/prepare-dataset/step-8.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 remove old pages
  docs/how-to/how-to-install-the-validation-server.md
  docs/how-to/how-to-use-the-validation-server.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 remove broken links
  versioned_docs/version-11.0.0/how-to/how-to-install-the-validation-server.md
  versioned_docs/version-11.0.0/how-to/how-to-use-the-validation-server.md
Owners: @aaronm-2112

refactor: ♻️ updated links within documentation
  docs/Freeform Mode/manage-dataset/connect-your-pennsieve-account-with-soda.md
  docs/Freeform Mode/prepare-dataset/validate-your-dataset.md
  docs/Freeform Mode/prepare-metadata/connect-your-airtable-account-with-soda.md
  docs/Freeform Mode/prepare-metadata/create-dataset-description.md
  docs/Freeform Mode/prepare-metadata/create-manifest-files.md
  docs/Freeform Mode/prepare-metadata/create-samples.md
  docs/Freeform Mode/prepare-metadata/create-subjects.md
  docs/Freeform Mode/prepare-metadata/create-submission.md
  docs/how-to/how-to-get-your-data-deliverables-document.md
  docs/how-to/how-to-structure-the-dataset-description-metadata-file.md
  docs/how-to/how-to-structure-the-manifest-metadata-file.md
  docs/how-to/how-to-structure-the-samples-metadata-file.md
  docs/how-to/how-to-structure-the-subjects-metadata-file.md
  docs/how-to/how-to-structure-the-submission-metadata-file.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ updated links
  docs/Freeform Mode/prepare-dataset/step-5.md
  docs/Freeform Mode/prepare-metadata/create-dataset-description.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 update commitlint config
  commitlint.config.js
Owners: @aaronm-2112

chore: 🔨 update commitlint config
  commitlint.config.js
Owners: @aaronm-2112

chore(release): 🚀 22.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  11/f69d45c3d9814401f1bb1bd9023c5e9ad12be9
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

fix: 🐛 add changes for prism-react-renderer v2
  docusaurus.config.js
Owners: @aaronm-2112

chore(release): 🚀 22.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  9e/aa3de573b448081847a9c77bf260e2cf87fb2e
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

fix: 🐛 removed broken link
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 update umami script url
  docusaurus.config.js
Owners: @aaronm-2112

chore(release): 🚀 22.0.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  10/e81fa59fad2bd7518b1e9d4a974e0ad9534dfc
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

refactor: ♻️ Old UI images removed from documentation
  docs/Freeform Mode/manage-dataset/add-edit-permissions.md
  docs/Freeform Mode/manage-dataset/connect-your-pennsieve-account-with-soda.md
  docs/Freeform Mode/manage-dataset/upload-a-banner-image.md
  docs/Freeform Mode/manage-dataset/upload-a-local-dataset-to-pennsieve.md
  docs/Freeform Mode/prepare-dataset/step-1.md
  docs/Freeform Mode/prepare-dataset/step-6.md
  docs/Freeform Mode/prepare-dataset/step-7.md
  docs/Freeform Mode/prepare-dataset/step-8.md
  docs/Freeform Mode/prepare-metadata/create-dataset-description.md
  docs/Freeform Mode/prepare-metadata/create-manifest-files.md
  docs/Freeform Mode/prepare-metadata/create-readme.md
  docs/Freeform Mode/prepare-metadata/create-samples.md
  docs/Freeform Mode/prepare-metadata/create-subjects.md
  docs/Freeform Mode/prepare-metadata/create-submission.md
  docs/Freeform Mode/prepare-metadata/download-templates.md
  docs/how-to/how-to-structure-the-manifest-metadata-file.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ adding changes to reflect RE-JOIN support
  docs/Freeform Mode/_category_.json
  docs/getting-started/download-soda.mdx
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/guided.md
  docs/intro.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ updating End to End Curation page
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/guided.md
Owners: @bvhpatel, @aaronm-2112
