Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 14.0.5 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  9375c1dc1ad33e3de2eeeb4781966641a55d1152
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

refactor: ♻️ updated project setup page
  docs/developer-documentation/project-setup.md
  docs/how-to/how-to-get-your-data-deliverables-document.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ updated building the project page
  docs/developer-documentation/building-the-application.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ updated installing agent 1 link
  docs/common-errors/installing-the-pennsieve-agent.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ updated airtable page
  docs/prepare-metadata/connect-your-airtable-account-with-soda.md
Owners: @bvhpatel, @aaronm-2112

docs: 📄 updated airtable page
  docs/prepare-metadata/connect-your-airtable-account-with-soda.md
Owners: @bvhpatel, @aaronm-2112

Link updates and project setup details (#174)
  docs/common-errors/installing-the-pennsieve-agent.md
  docs/developer-documentation/building-the-application.md
  docs/developer-documentation/project-setup.md
  docs/how-to/how-to-get-your-data-deliverables-document.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 14.0.6 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  9b72e4b60f6f2fa3a53a617f7b8feb3f330e1a64
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

docs: Airtable page updated (#177)
  docs/prepare-metadata/connect-your-airtable-account-with-soda.md
Owners: @bvhpatel, @aaronm-2112

docs: 📄 update the changelog to match the previous versions
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

docs: 📄 9.3.0 changelog
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

chore(release): 15.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  1f61632e00d4060eb57e15c65c43466489fc2ef8
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

Notes added by 'git notes add'
  4f70ad1431a138edc4f0739dedb2e123754113ce
Owners: @aaronm-2112

chore(release): 15.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112
