Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

wip: 🚧 add seo component
  docs/changelog.md
  docs/getting-started/download-soda.mdx
  docusaurus.config.js
  package.json
  src/components/SeoImage.jsx
  versioned_docs/version-6.0.0/getting-started/download-soda.mdx
  versioned_docs/version-7.0.0/getting-started/download-soda.mdx
  versioned_docs/version-7.0.1/getting-started/download-soda.mdx
  versioned_docs/version-8.0.0/getting-started/download-soda.mdx
  yarn.lock
Owners: @bvhpatel, @aaronm-2112, @megasanjay

refactor: ♻️ update og image link
  docs/getting-started/download-soda.mdx
Owners: @bvhpatel, @aaronm-2112

chore: rename downloadURL to DownloadURL
  src/components/DownloadURL.jsx
Owners: @aaronm-2112

chore(release): 10.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  d6ac21be23442160ee15e63b714e0f461ccc66fb
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

chore: update release action
  .github/workflows/release-on-zenodo.yml
Owners: @megasanjay

chore(release): 10.0.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  6b0a556e822af984118e9a91e77f8fe366832944
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
Owners: @aaronm-2112

feat: ✨ add docs and app version compatibility page
  docs.compatibility.json
  docs/docscompatibility.mdx
  src/components/VersionCompatibility.jsx
Owners: @aaronm-2112, @bvhpatel

style: 🎨 fix code style issues with Prettier
  docs.compatibility.json
Owners: @aaronm-2112

chore: 🔧 update action for new versioning
  .github/workflows/release-on-zenodo.yml
Owners: @megasanjay

fix: 🐛 display a reversed version of the array for the release action
  docs.compatibility.json
  src/components/VersionCompatibility.jsx
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ add 'SODA' to the versioning label
  package.json
  src/theme/NavbarItem/DocsVersionDropdownNavbarItem.js
Owners: @megasanjay, @aaronm-2112

feat: ✨ move from a versioned docs page to a standalone page
  docs/docscompatibility.mdx
  package.json
  src/components/VersionCompatibility.jsx
  src/pages/versions.jsx
  src/theme/Footer/index.jsx
  versionsArchived.json
  yarn.lock
Owners: @bvhpatel, @aaronm-2112, @megasanjay

chore: 🔧 remove example json file
  versionsArchived.json
Owners: @aaronm-2112

refactor: ♻️ update wording
  src/pages/versions.jsx
Owners: @aaronm-2112

chore: 🔧 add og image to page
  src/pages/versions.jsx
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

fix: 🐛 move from semver to an explicit check
  package.json
  src/theme/NavbarItem/DocsVersionDropdownNavbarItem.js
Owners: @megasanjay, @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

refactor: updated protocol help link
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ add docs and app version compatibility page (#137)
  .github/workflows/release-on-zenodo.yml
  docs.compatibility.json
  package.json
  src/pages/versions.jsx
  src/theme/Footer/index.jsx
  yarn.lock
Owners: @megasanjay, @aaronm-2112

Notes added by 'git notes add'
  44be97938862573ff3dcf78c6706d9531e5b7c11
Owners: @aaronm-2112

chore(release): 10.1.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 10.1.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay
