Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

Notes added by 'git notes add'
  89e773cb67b638aff0680a8c1d84d16e0d3e88ab
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

docs: 📄 changelog updated for 9.2.1
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

chore(release): 14.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  0a074bae0207613e8c4dd5f0fd554382d63177e7
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

Notes added by 'git notes add'
  b4e474a017b97bd13acad76bc59adeabb372f008
Owners: @aaronm-2112

chore(release): 14.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 14.0.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  b258bb07c2a7a07dcc5b4f5e688c2e579363628d
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 14.0.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  0a855502bc147fe20d6d4d686064e308325e3124
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 14.0.4 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  e859f7a8ece8c3b6681ab40f71716ca6eece4bdc
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay
