Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

wip: 🚧 improve the guest workfow help
  docs/miscellaneous/how-to/how-to-upload-as-pennsieve-guest.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 update changelog
  docs/miscellaneous/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 doc updates for contributor workflow
  docs/miscellaneous/how-to/how-to-upload-as-pennsieve-guest.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.12.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  9d/cf1f737e5351bd7fc2c4a44bb7053a66afede5
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ how to page for guests to upload in SODA
  docs/miscellaneous/how-to/how-to-upload-as-pennsieve-guest.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ add back networking page
  docs/miscellaneous/how-to/how-to-resolve-network-errors.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 update changelog
  docs/miscellaneous/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.13.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  fd/19de259efd35ceeb4eb31e65d26cc5be76de7d
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ change title
  docs/miscellaneous/how-to/how-to-resolve-network-errors.md
  versioned_docs/version-16.3.0/miscellaneous/how-to/how-to-resolve-network-errors.md
Owners: @bvhpatel, @aaronm-2112

feat: change names of page titles (#707)
  docs/miscellaneous/how-to/how-to-resolve-network-errors.md
  versioned_docs/version-16.3.0/miscellaneous/how-to/how-to-resolve-network-errors.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.14.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  1d/c1f867509505741145b7bf2947a4001cbe63f1
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: Dynamic usage stats (#708)
  src/components/HomepageFeatures.jsx
  static/data/aggregated_data.json
Owners: @aaronm-2112

chore(release): 🚀 27.15.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  90/307549c7c5b836519b8be4ff987d5d00b5044d
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore(release): 🚀 27.16.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  7b/725639dac53a69e49a5bd805c0fad5c646785c
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: 🔨 update readme for 15.3.1
  docs/miscellaneous/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112
