Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 11.1.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  cc0aa845a3c0ebf9d55980d19d2652e34b5a9521
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

docs: 📄 added page for dataset collections (#121)
  docs/manage-dataset/add-dataset-to-collection.md
  docs/manage-dataset/add-edit-permissions.md
  docs/manage-dataset/add-edit-subtitle.md
  docs/manage-dataset/assign-a-license.md
  docs/manage-dataset/make-pi-owner-of-dataset.md
  docs/manage-dataset/upload-a-banner-image.md
  docs/manage-dataset/view-and-change-status.md
Owners: @bvhpatel, @aaronm-2112

docs: 📄 update changelog for 9.1.0
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

chore(release): 12.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  11a77f6be4f1b24cdebfd969ed96f997cb55d2ae
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
  versions.json
Owners: @aaronm-2112

Update organize-and-submit-sparc-datasets-with-soda.md
  versioned_docs/version-9.1.0/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @aaronm-2112

chore(release): 12.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  e9601a721a690da9459f59b307edc0ca0b544c07
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 12.0.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  8f26683261a41e0bebdaa5343a24c0c52a8b4be7
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

docs: update the changelog to match version 9.2.0
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

style: 🎨 fix code style issues with Prettier
  versions.json
Owners: @aaronm-2112

chore(release): 13.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay
