Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore(release): 🚀 27.29.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  fe/2dc8fa13a417bdc9e91756922bc9bca0914589
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: 🔨 update changelog
  docs/miscellaneous/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 update changelog
  docs/miscellaneous/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.30.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  ca/bd98ce92cb8fde58a9ae394e3b1bbb9dae4c00
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

test: ⚗️ ignore
  .eslintrc
  docs/contact-us.mdx
  docs/miscellaneous/common-errors/sending-log-files-to-soda-team.md
  src/components/contact.jsx
Owners: @aaronm-2112, @bvhpatel

wip: 🚧 new docs release pipeline
  .github/workflows/create-pr.yml
Owners: @megasanjay

feat: ✨ added docs for helping for resolving issues starting the agent
  docs/miscellaneous/common-errors/trouble-starting-the-pennsieve-agent-in-soda.md
  docs/miscellaneous/how-to/how-to-remove-pennsieve-db-files.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 fix links + formatting
  docs/miscellaneous/common-errors/trouble-starting-the-pennsieve-agent-in-soda.md
  docs/miscellaneous/how-to/how-to-remove-pennsieve-agent-db-files.md
  docs/miscellaneous/how-to/how-to-remove-pennsieve-db-files.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ add new bad cpu case + format
  docs/miscellaneous/common-errors/trouble-starting-the-pennsieve-agent-in-soda.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ add common issue when installing Agent
  docs/miscellaneous/common-errors/installing-the-pennsieve-agent.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ add common issue when installing Agent
  docs/miscellaneous/common-errors/installing-the-pennsieve-agent.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.31.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  95/c5241a0ef326b09022c3d44a14512f124506d7
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore(release): 🚀 27.32.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  15/3b8fee63b8b537afcfa2936fee44a0313bfa65
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.33.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  fc/de7a3d7bdb9c920c4814d33784a10276b1f268
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: 🔨 update changelog
  docs/miscellaneous/common-errors/installing-the-pennsieve-agent.md
  docs/miscellaneous/common-errors/trouble-starting-the-pennsieve-agent-in-soda.md
  docs/miscellaneous/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112
