Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

style: 🎨 fix code style issues with Prettier
  src/components/lotties/column1lottie.json
  src/components/lotties/column2lottie.json
  src/components/lotties/column3lottie.json
Owners: @aaronm-2112

refactor: ♻️ non-SPARC data section
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ non-SPARC data section (#189)
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 17.1.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  69ce078525800cfbb08abafa3c2de23887e451f8
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

refactor: update link to the Pennsieve agent
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

refactor: ignore deprecated agent warning
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

docs: 📄 changelog updated for release
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 18.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  fc1cfa31590bac2b767a91c6f8fdda2ddf17531b
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
  versions.json
Owners: @aaronm-2112

chore(release): 18.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  e31c31cd13f0cf2da24994f0c24c534d89356c8b
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

docs: 📄 updated user interface page
  docs/getting-started/user-interface.mdx
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ updated images with mac borders
  docs/getting-started/user-interface.mdx
Owners: @bvhpatel, @aaronm-2112

chore(release): 18.0.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  448f0da5563f636d39e16c87e936e17fe418883d
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 18.0.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  6fb1384d08be77650b1f929a41490c0a24d71216
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay
