Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

docs: 📝 update changelog
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 SPARC Consortium -> Pennsieve Workspace
  docs/Freeform Mode/manage-dataset/add-edit-permissions.md
  docs/Freeform Mode/manage-dataset/connect-your-pennsieve-account-with-soda.md
  docs/Freeform Mode/manage-dataset/make-pi-owner-of-dataset.md
  docs/Freeform Mode/manage-dataset/view-and-change-status.md
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
  docs/how-to/how-to-get-a-pennsieve-account.md
  versioned_docs/version-13.1.2/Freeform Mode/manage-dataset/add-edit-permissions.md
  versioned_docs/version-13.1.2/Freeform Mode/manage-dataset/connect-your-pennsieve-account-with-soda.md
  versioned_docs/version-13.1.2/Freeform Mode/manage-dataset/make-pi-owner-of-dataset.md
  versioned_docs/version-13.1.2/Freeform Mode/manage-dataset/view-and-change-status.md
  versioned_docs/version-13.1.2/connecting-to-pennsieve/connecting-with-api-key.md
  versioned_docs/version-13.1.2/connecting-to-pennsieve/connecting-with-username-password.md
  versioned_docs/version-13.1.2/how-to/how-to-get-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 SPARC Consortium -> Pennsieve Workspace (#559)
  docs/Freeform Mode/manage-dataset/add-edit-permissions.md
  docs/Freeform Mode/manage-dataset/connect-your-pennsieve-account-with-soda.md
  docs/Freeform Mode/manage-dataset/make-pi-owner-of-dataset.md
  docs/Freeform Mode/manage-dataset/view-and-change-status.md
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
  docs/how-to/how-to-get-a-pennsieve-account.md
  versioned_docs/version-13.1.2/Freeform Mode/manage-dataset/add-edit-permissions.md
  versioned_docs/version-13.1.2/Freeform Mode/manage-dataset/connect-your-pennsieve-account-with-soda.md
  versioned_docs/version-13.1.2/Freeform Mode/manage-dataset/make-pi-owner-of-dataset.md
  versioned_docs/version-13.1.2/Freeform Mode/manage-dataset/view-and-change-status.md
  versioned_docs/version-13.1.2/connecting-to-pennsieve/connecting-with-api-key.md
  versioned_docs/version-13.1.2/connecting-to-pennsieve/connecting-with-username-password.md
  versioned_docs/version-13.1.2/how-to/how-to-get-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 26.7.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  95/60315d0710c012feca29f0b34fdc551928609b
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

docs: 📝 update changelog for new release
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 udpate changelog
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 26.7.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  52/3f075be43501f9143b3f668a61b9932d594435
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 26.7.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  d7/587a4a71ed64aeb469bc2faf03716f7083c083
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 26.7.4 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  f2/1812b12f5084fb18b494c349de9b1442e8efbc
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 26.7.5 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  c1/cfcd43e87b6a08b4682f343f447d1303632e10
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

refactor: ♻️ removed pages not used anymore
  docs/advanced-mode/upload-a-banner-image.md
  docs/how-to/how-to-get-your-data-deliverables-document.md
  docs/how-to/how-to-structure-the-dataset-description-metadata-file.md
  docs/how-to/how-to-structure-the-manifest-metadata-file.md
  docs/how-to/how-to-structure-the-samples-metadata-file.md
  docs/how-to/how-to-structure-the-subjects-metadata-file.md
  docs/how-to/how-to-structure-the-submission-metadata-file.md
  docs/how-to/how-to-test-soda-without-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112
