Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

chore(release): 🚀 27.17.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  9c/a3ba55ad519e1c56db9cbc5e0685d4c902f67a
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.18.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  d6/ccdd284c431774008a51a7ba36f9559b4222a0
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.19.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  8a/c4098e14fcdf07812ba61b5bcf4daa204923c8
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore(release): 🚀 27.20.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  38/6dde1dceca2af152027293e4055f4837b6a7e0
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.21.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  d0/8e20dd671955defc78be74df9ce3c70cb353c0
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.22.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  53/167ac030f035704526cec87a8e6fc89e1ef119
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ update changelog
  docs/miscellaneous/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ update docs for 16.5.0 mantine release
  docs/soda-features/connecting-to-pennsieve/accounts_page.md
  docs/soda-features/connecting-to-pennsieve/connecting-with-username-password.md
  docs/soda-features/guided.md
  docs/soda-features/upload-dataset/step-1.md
  docs/soda-features/upload-dataset/step-2.md
  docs/soda-features/upload-dataset/step-3.md
  docs/soda-features/upload-dataset/step-4.md
  docs/soda-features/upload-dataset/step-5.md
  docs/soda-features/upload-dataset/step-6.md
  static/img/HomePageMantine.png
  static/img/UploadData2Mantine.png
  static/img/UploadData3Mantine.png
  static/img/UploadData4Mantine.png
  static/img/UploadData5Mantine.png
  static/img/UploadData6Mantine.png
  static/img/UploadData7Mantine.png
  static/img/UploadDataMantine.png
  static/img/guided-options-page-mantine.png
  static/img/manage-accounts-mantine-connecting.png
  static/img/manage-accounts-mantine.png
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 update changelog
  docs/miscellaneous/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

feat: 16.5.0 (#710)
  docs/miscellaneous/developer-documentation/changelog.md
  docs/soda-features/connecting-to-pennsieve/accounts_page.md
  docs/soda-features/connecting-to-pennsieve/connecting-with-username-password.md
  docs/soda-features/guided.md
  docs/soda-features/upload-dataset/step-1.md
  docs/soda-features/upload-dataset/step-2.md
  docs/soda-features/upload-dataset/step-3.md
  docs/soda-features/upload-dataset/step-4.md
  docs/soda-features/upload-dataset/step-5.md
  docs/soda-features/upload-dataset/step-6.md
  static/img/HomePageMantine.png
  static/img/UploadData2Mantine.png
  static/img/UploadData3Mantine.png
  static/img/UploadData4Mantine.png
  static/img/UploadData5Mantine.png
  static/img/UploadData6Mantine.png
  static/img/UploadData7Mantine.png
  static/img/UploadDataMantine.png
  static/img/guided-options-page-mantine.png
  static/img/manage-accounts-mantine-connecting.png
  static/img/manage-accounts-mantine.png
Owners: @bvhpatel, @aaronm-2112

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay
