Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

feat: ✨ ffm overview page added + endtoend image
  docs/Freeform Mode/disseminate-dataset/_category_.json
  docs/Freeform Mode/manage-dataset/_category_.json
  docs/Freeform Mode/overview.md
  docs/Freeform Mode/prepare-dataset/_category_.json
  docs/Freeform Mode/prepare-metadata/_category_.json
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 addressed some typos
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/guided.md
  docs/intro.md
  docusaurus.config.js
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 addressed some typos (#337)
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/guided.md
  docs/intro.md
  docusaurus.config.js
Owners: @bvhpatel, @aaronm-2112

feat: ✨ added an overview page for the Free Form Curation mode
  docs/Freeform Mode/overview.md
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/guided.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ image added to ffm overview page
  docs/Freeform Mode/overview.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ changelog updated
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

feat: 💥 ✨ docs versioned for SODA 11.1.0
  src/theme/Footer/index.jsx
Owners: @aaronm-2112

feat: 💥 ✨ docs versioned for SODA 11.1.0
  docusaurus.config.js
Owners: @aaronm-2112

chore(release): 🚀 23.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  a2/4822617a8fa632983b962e5af34e443224df8f
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: 💥 ✨ docs versioned for SODA 11.1.0
  README.md
  src/theme/Footer/index.jsx
Owners: @aaronm-2112

feat: 💥 ✨ docs versioned for SODA 11.1.0
  docs/intro.md
Owners: @bvhpatel, @aaronm-2112

feat: 💥 ✨ docs versioned for SODA 11.1.0
  versioned_docs/version-11.1.0/intro.md
Owners: @aaronm-2112

feat: 💥 ✨ docs versioned for SODA 11.1.0 (#340)
  README.md
  docs/intro.md
  src/theme/Footer/index.jsx
  versioned_docs/version-11.1.0/intro.md
Owners: @aaronm-2112, @bvhpatel

chore(release): 🚀 24.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  f5/81ce9cfb4711a449320734bd0d638b5fe3fe99
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 24.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  e2/6040ca6487878f5d388d81ccd31122eff11e5a
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 24.0.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  3e/a29eb882dca474ba9368ac721423ab10244cd9
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 24.0.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  bf/c9da2631a1991f11aaedef3a0fd023caa7f567
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay
