Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

style: 🎨 fix code style issues with Prettier
  docs/prepare-metadata/create-dataset-description.md
Owners: @bvhpatel, @aaronm-2112

docs: update prepare metadata docs (#68)
  docs/prepare-metadata/create-dataset-description.md
  docs/prepare-metadata/create-manifest-files.md
  docs/prepare-metadata/create-submission.md
Owners: @bvhpatel, @aaronm-2112

docs: 📄 updated gather log files page (#122)
  docs/common-errors/sending-log-files-to-soda-team.md
Owners: @bvhpatel, @aaronm-2112

Notes added by 'git notes add'
  7b51ed76b4f9f0df90d2ec858898ed1b804b6141
Owners: @aaronm-2112

chore(release): 9.1.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
Owners: @aaronm-2112

refactor: ♻️ modified steps for collection-page
  docs/manage-dataset/add-dataset-to-collection.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ updated text for dataset permissions on collections page
  docs/manage-dataset/add-dataset-to-collection.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ updated text for collections-page
  docs/manage-dataset/add-dataset-to-collection.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 update wording in cookie notice
  docs/cookiepolicy.md
  versioned_docs/version-7.0.1/cookiepolicy.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 9.1.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  9417a7d45844e41d4c5fa440f7fe7efc2f6838e4
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
Owners: @aaronm-2112

chore(release): 9.1.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  2a8d3947d2bb5f13c3da1d51a2b63926230cea46
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
Owners: @aaronm-2112

chore(release): 9.1.4 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  d15b10d55574a6888c222cd0c44f61deaca08ed9
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
Owners: @aaronm-2112

docs: update changelog for 8.0.0
  docs/changelog.md
Owners: @bvhpatel, @aaronm-2112

style: 🎨 fix code style issues with Prettier
  docs/changelog.md
  versioned_docs/version-8.0.0/changelog.md
  versions.json
Owners: @bvhpatel, @aaronm-2112

chore(release): 10.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  58681901211a721e68ec077ca43569b46e4242e6
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

style: 🎨 fix code style issues with Prettier
  .zenodo.json
  CHANGELOG.md
  codemeta.json
Owners: @aaronm-2112

docs: 📄 updated docs page for banner uploads
  docs/manage-dataset/upload-a-banner-image.md
Owners: @bvhpatel, @aaronm-2112
