Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore(release): 🚀 25.1.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  0e/b8b5bd5edb68921c0924d50960b303ae96777f
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

refactor: ♻️ update OG images for how to series
  docs/how-to/how-to-get-your-data-deliverables-document.md
  docs/how-to/how-to-reinstall-the-pennsieve-agent.md
  docs/how-to/how-to-structure-the-dataset-description-metadata-file.md
  docs/how-to/how-to-structure-the-manifest-metadata-file.md
  docs/how-to/how-to-structure-the-samples-metadata-file.md
  docs/how-to/how-to-structure-the-subjects-metadata-file.md
  docs/how-to/how-to-structure-the-submission-metadata-file.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ update OG image for download soda page
  docs/getting-started/download-soda.mdx
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ change names of curate and share buttons, update OG images
  docs/Freeform Mode/manage-dataset/add-dataset-to-collection.md
  docs/Freeform Mode/manage-dataset/add-edit-description.md
  docs/Freeform Mode/manage-dataset/add-edit-permissions.md
  docs/Freeform Mode/manage-dataset/add-edit-subtitle.md
  docs/Freeform Mode/manage-dataset/add-edit-tags.md
  docs/Freeform Mode/manage-dataset/assign-a-license.md
  docs/Freeform Mode/manage-dataset/create-a-new-dataset.md
  docs/Freeform Mode/manage-dataset/make-pi-owner-of-dataset.md
  docs/Freeform Mode/manage-dataset/rename-an-existing-dataset.md
  docs/Freeform Mode/manage-dataset/upload-a-banner-image.md
  docs/Freeform Mode/overview.md
  docs/Freeform Mode/prepare-dataset/step-6.md
  docs/Freeform Mode/prepare-dataset/step-7.md
  docs/Freeform Mode/prepare-dataset/step-8.md
  docs/Freeform Mode/prepare-dataset/validate-your-dataset.md
  docs/Freeform Mode/prepare-metadata/create-changes-txt.md
  docs/Freeform Mode/prepare-metadata/create-dataset-description.md
  docs/Freeform Mode/prepare-metadata/create-manifest-files.md
  docs/Freeform Mode/prepare-metadata/create-readme.md
  docs/Freeform Mode/prepare-metadata/create-samples.md
  docs/Freeform Mode/prepare-metadata/create-subjects.md
  docs/Freeform Mode/prepare-metadata/create-submission.md
  docs/Freeform Mode/prepare-metadata/download-templates.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ update link to download soda for linux
  docs/common-errors/api-version-mismatch.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ update privacy policy
  docs/legal/privacypolicy.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 README/CHANGES extension changed from xlsx to txt
  docs/legal/privacypolicy.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ space intro page's txt
  docs/intro.md
Owners: @bvhpatel, @aaronm-2112

docs: 📝 update changelog
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 26.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  9a/4c20ac0f6dd97458516f9bf6fafcbd74009083
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 26.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  77/dcafa5c1571da9f26dd24f5f8fa6a78e33283e
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 26.0.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  a6/c607100cf4cdd666107189675b6a128f83c307
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

docs: 📝 update the docs to have workspace instructions
  docs/Freeform Mode/disseminate-dataset/submit-for-pre-publishing-review.md
  docs/Freeform Mode/manage-dataset/add-dataset-to-collection.md
  docs/Freeform Mode/manage-dataset/add-edit-description.md
  docs/Freeform Mode/manage-dataset/add-edit-permissions.md
  docs/Freeform Mode/manage-dataset/add-edit-subtitle.md
  docs/Freeform Mode/manage-dataset/add-edit-tags.md
  docs/Freeform Mode/manage-dataset/assign-a-license.md
  docs/Freeform Mode/manage-dataset/create-a-new-dataset.md
  docs/Freeform Mode/manage-dataset/make-pi-owner-of-dataset.md
  docs/Freeform Mode/manage-dataset/rename-an-existing-dataset.md
  docs/Freeform Mode/manage-dataset/upload-a-banner-image.md
  docs/Freeform Mode/manage-dataset/upload-a-local-dataset-to-pennsieve.md
  docs/Freeform Mode/manage-dataset/view-and-change-status.md
  docs/Freeform Mode/prepare-dataset/step-6.md
  docs/how-to/how-to-use-workspaces.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 26.0.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  59/55262c2e562dc92b926f3102b4d94144d62149
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

docs: 📝 update changelog for 12.2.2 release
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112
