Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

refactor: ♻️ update links
  docs/upload-dataset/step-5.md
  docs/upload-dataset/step-6.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ update images and changelog
  docs/developer-documentation/changelog.md
  docs/guided.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 update broken links
  docs/advanced-mode/create-manifest-files.md
  docs/advanced-mode/upload-a-banner-image.md
  versioned_docs/version-14.0.0/advanced-mode/create-manifest-files.md
  versioned_docs/version-14.0.0/advanced-mode/upload-a-banner-image.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  00/996fe8dc1d7ce4584ad712c1c8bca660071e63
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ update text
  docs/advanced-mode/_category_.json
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/upload-dataset/step-5.md
  docs/upload-dataset/step-8.md
  versioned_docs/version-14.0.0/advanced-mode/_category_.json
  versioned_docs/version-14.0.0/getting-started/organize-and-submit-sparc-datasets-with-soda.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ create redirects for outdated links
  vercel.json
Owners: @aaronm-2112

refactor: ♻️ remove step-8
  versioned_docs/version-14.0.0/upload-dataset/organize-dataset.md
Owners: @aaronm-2112

refactor: ♻️ remove link
  docs/upload-dataset/organize-dataset.md
Owners: @bvhpatel, @aaronm-2112

refactor: ♻️ remove page
  versioned_docs/version-14.0.0/upload-dataset/step-8.md
Owners: @aaronm-2112

refactor: ♻️ update encoding
  vercel.json
Owners: @aaronm-2112

refactor: ♻️ 14.0.0 re-direct links + text update (#575)
  docs/advanced-mode/_category_.json
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/upload-dataset/organize-dataset.md
  docs/upload-dataset/step-5.md
  docs/upload-dataset/step-8.md
  vercel.json
  versioned_docs/version-14.0.0/advanced-mode/_category_.json
  versioned_docs/version-14.0.0/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  versioned_docs/version-14.0.0/upload-dataset/organize-dataset.md
  versioned_docs/version-14.0.0/upload-dataset/step-8.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 27.0.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  5e/1f6e4055e7435cb26af76e4f1ed4d8c2fcc8fd
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore(release): 🚀 27.0.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  34/1ff74b84bd0749e6284f8f41bed5022b6a7ff4
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.0.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  7f/68569c4c48534981879bee4b15164049ecb90e
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 27.0.4 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  cf/74172b0686038ac37cc59c815bbf905da27211
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112
