Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

feat: ✨ docs updated for 13.0.0
  docs/developer-documentation/building-the-application.md
  docs/developer-documentation/project-setup.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Added SODA testing page
  docs/how-to/how-to-use-soda-without-a-pennsieve-account.md
  static/test-dataset.zip
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Added instructions for testing locally
  docs/how-to/how-to-use-soda-without-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Update instructional text
  docs/how-to/how-to-use-soda-without-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 typo fix
  docs/how-to/how-to-use-soda-without-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 Updated instructional text
  docs/how-to/how-to-use-soda-without-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ Finished SODA testing docs
  docs/how-to/how-to-use-soda-without-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

feat: ✨ view api docs page and changelog
  docs/developer-documentation/changelog.md
  docs/developer-documentation/viewing-api-documentation.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 Added test-dataset zip to a zip folder
  docs/how-to/how-to-use-soda-without-a-pennsieve-account.md
  static/zips/test-dataset.zip
  versioned_docs/version-13.1.0/how-to/how-to-use-soda-without-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 Changed zip download syntax
  docs/how-to/how-to-use-soda-without-a-pennsieve-account.md
  versioned_docs/version-13.1.0/how-to/how-to-use-soda-without-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 remove link on versioned docs for testing
  docs/how-to/how-to-use-soda-without-a-pennsieve-account.md
  versioned_docs/version-13.1.0/how-to/how-to-use-soda-without-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 26.5.7 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  07/9846db7dc9b2756e7ab6921d64e7dfa44d712e
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 26.6.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  59/2eda468cd7ebc445e1d728ade2f38d7816a189
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

fix: 🐛 Update URL for local testing how-to
  docs/how-to/how-to-test-soda-without-a-pennsieve-account.md
  versioned_docs/version-13.1.0/how-to/how-to-test-soda-without-a-pennsieve-account.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 26.6.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  50/1eefe3ff112893cb722f5562b36e1d77560e7e
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore(release): 🚀 26.6.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  c5/c648ac0a12a1241902f3352d77a474f3c11909
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

feat: ✨ Update CHANGELOG for v13.1.1
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

chore(release): 🚀 26.7.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  d1/f50f10f848884939b9ffe0e8a37b2e27bea369
Owners: @aaronm-2112
