Repository fairdataihub/SODA-for-SPARC-Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaronm-2112, @bvhpatel, @megasanjay

.github/CODEOWNERS:

* @aaronm-2112
/docs/ @bvhpatel @aaronm-2112
/versioned_docs/ @aaronm-2112
/.github/ @megasanjay
package.json @megasanjay
yarn.lock @megasanjay

refactor: ♻️ update versionedd ocs with appropriate changes
  versioned_docs/version-15.2.1/developer-documentation/changelog.md
Owners: @aaronm-2112

chore: 🔨 update changelog for 15.2.2
  versioned_docs/version-15.2.1/developer-documentation/changelog.md
Owners: @aaronm-2112

fix: 🐛 img links
  docs/upload-dataset/step-2.md
  versioned_docs/version-15.2.2/upload-dataset/step-2.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 unversioned docs link
  docs/upload-dataset/step-2.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 firewall detection docs
  docs/how-to/how-to-resolve-network-issues.md
Owners: @bvhpatel, @aaronm-2112

wip: 🚧 firewall detection docs
  docs/how-to/how-to-resolve-network-issues.md
Owners: @bvhpatel, @aaronm-2112

chore: 🔨 update changelog
  docs/developer-documentation/changelog.md
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 img path
  versioned_docs/version-15.3.0/upload-dataset/step-2.md
Owners: @aaronm-2112

fix: 🐛 remove missing versions from version json
  versions.json
Owners: @aaronm-2112

build: 📦️ reset react to be compatible with docusaur
  package.json
Owners: @megasanjay

refactor: ♻️ main page UI refactor
  docusaurus.config.js
  package.json
  src/components/HomepageFeatures.jsx
  src/pages/index.jsx
Owners: @aaronm-2112, @megasanjay

style: 🎨 increase stats font size
  src/components/HomepageFeatures.jsx
Owners: @aaronm-2112

feat: ✨ updated ui and usage number tracking added
  docusaurus.config.js
  src/components/HomepageFeatures.jsx
  src/css/custom.css
  src/pages/index.jsx
  src/theme/Footer/index.jsx
  yarn.lock
Owners: @aaronm-2112, @megasanjay

chore: 🔨 update text for informational section
  src/components/HomepageFeatures.jsx
Owners: @aaronm-2112

chore(release): 🚀 27.3.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  bc/61f677fb3eec052c45eb97f8ffe49231f18f95
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

wip: 🚧 Change import positioning of PageFeedback component
  docs/advanced-mode/compare-local-and-pennsieve-dataset.md
  docs/advanced-mode/create-manifest-files.md
  docs/advanced-mode/upload-a-banner-image.md
  docs/advanced-mode/validate-your-dataset.md
  docs/common-errors/api-version-mismatch.md
  docs/common-errors/deleting-pennsieve-config-files.md
  docs/common-errors/installing-the-pennsieve-agent.md
  docs/common-errors/issues-regarding-hidden-files-or-folders.md
  docs/common-errors/sending-log-files-to-soda-team.md
  docs/common-errors/trouble-starting-the-pennsieve-agent-in-soda.md
  docs/connecting-to-pennsieve/connecting-with-api-key.md
  docs/connecting-to-pennsieve/connecting-with-username-password.md
  docs/developer-documentation/building-the-application.md
  docs/developer-documentation/changelog.md
  docs/developer-documentation/project-setup.md
  docs/download-templates.md
  docs/getting-started/download-soda.mdx
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/how-to/how-to-get-a-pennsieve-account.md
  docs/how-to/how-to-structure-the-manifest-metadata-file.md
  docs/how-to/how-to-test-soda-without-a-pennsieve-account.md
  docs/how-to/how-to-use-workspaces.md
  docs/intro.md
  docs/legal/cookiepolicy.md
  docs/legal/privacypolicy.md
  docs/legal/termsofuse.md
  docs/upload-dataset/organize-dataset.md
  docs/upload-dataset/step-1.md
  docs/upload-dataset/step-2.md
  docs/upload-dataset/step-3.md
  docs/upload-dataset/step-4.md
  docs/upload-dataset/step-5.md
  docs/upload-dataset/step-6.md
  src/components/PageFeedback.jsx
Owners: @bvhpatel, @aaronm-2112

fix: 🐛 update node to v20
  package.json
Owners: @megasanjay

fix: 🐛 disable page feedback
  package.json
  src/components/PageFeedback.jsx
Owners: @megasanjay, @aaronm-2112

chore(release): 🚀 27.3.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  be/a15eb46e0208493494e9240e5fc6fb31db80b6
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

wip: 🚧 read usage-stats at build weekly time
  src/components/HomepageFeatures.jsx
  static/data/usage-stats.json
Owners: @aaronm-2112

refactor: ♻️ change in json file name
  src/components/HomepageFeatures.jsx
  static/data/aggregated_data.json
Owners: @aaronm-2112

refactor: ♻️ gb data display changed
  src/components/HomepageFeatures.jsx
Owners: @aaronm-2112

feat: usage stats read at build time (#683)
  src/components/HomepageFeatures.jsx
  static/data/aggregated_data.json
Owners: @aaronm-2112

chore(release): 🚀 27.4.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @aaronm-2112, @megasanjay

Notes added by 'git notes add'
  3a/16a64f41f0e46dd01f8a18702ff438e8251e69
Owners: @aaronm-2112

chore: update codemeta.json for Zenodo release
  codemeta.json
Owners: @aaronm-2112

chore: update CITATION.cff for Zenodo release
  CITATION.cff
Owners: @aaronm-2112

chore: update .zenodo.json for Zenodo release
  .zenodo.json
Owners: @aaronm-2112

chore: update docs.compatibility.json for Zenodo release
  docs.compatibility.json
Owners: @aaronm-2112

chore: 🔨 generalize text to not be SPARC specific when possible
  docs/advanced-mode/compare-local-and-pennsieve-dataset.md
  docs/advanced-mode/upload-a-banner-image.md
  docs/advanced-mode/validate-your-dataset.md
  docs/download-templates.md
  docs/getting-started/organize-and-submit-sparc-datasets-with-soda.md
  docs/guided.md
  docs/intro.md
  docs/upload-dataset/organize-dataset.md
Owners: @bvhpatel, @aaronm-2112
